DATABASE_URL="file:./dev.db"
ADMIN_USERNAME="tongzai"
ADMIN_PASSWORD="change-me"
CLOUDBASE_ENV_ID=""
TENCENTCLOUD_SECRET_ID=""
TENCENTCLOUD_SECRET_KEY=""
CLOUDBASE_COLLECTION="places"
CLOUDBASE_VISIT_COLLECTION="visitLogs"
